body {
  font-family: "Roboto", sans-serif;
}

.button {
  padding-top: 10px;
}

#inputIdade {
  width: 15%;
}

.idade-group {
  gap: 30px;
}

.form-group label:after {
  padding-left: 5px;
  content: "*";
  color: red;
}

.bg-image {
  z-index: 0;
  background: url("./assets/imgs/background.jpg") no-repeat center center fixed;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
